{# 继承父类模板 #}
{% extends 'base.html' %}

{% block content %}
  <div class="jztop"></div>
  <div class="container">
  <div>
    <div class="bloglist f_l">
        {% for one in article %}
            <h3><a href="/articledetails/{{ one.id }}">{{ one.title }}</a></h3>
            <figure><img src="/static/{{ one.picture }}" alt="{{ one.title }}"></figure>
            <ul>
                <p> {{ one.description | safe }}</p>
                <a title="{{ one.title }}" href="/articledetails/{{ one.id }}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
            </ul>
            <p class="dateview"><span>{{ one.date }}</span><span>作者：{{ one.author }}</span><span>个人博客：[<a href="/jstt/bj/">{{ article.type.first }}</a>]</span></p>
        {% endfor %}


    </div>

    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_blank">我的电话</a></li>
            <li><a class="qq" href="#mailto:admin@admin.com" target="_blank">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_blank">我的QQ</a></li>
            <li><a class="prize" href="#">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <!--tit01 end-->

      <div class="tuwen">
        <h3 class="tit">图文推荐</h3>
        <ul>
            {% for tuwen in recommend_article %}
                <li><a href="/articledetails/{{ tuwen.id }}"><img src="/static/{{ tuwen.picture }}"><b>{{ tuwen.title }}</b></a>
                    <p><span class="tulanmu"><a href="articledetails/{{ tuwen.id }}">{{ tuwen.type.first }}</a></span><span class="tutime">{{ tuwen.date }}</span></p>
                </li>
            {% endfor %}
        </ul>
      </div>
      <div class="ph">
        <h3 class="tit">点击排行</h3>
        <ul class="rank">
            {% for one in article %}
                <li><a href="/articledetails/{{ one.id }}" title="{{ one.title }}" target="_blank">{{ one.title }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="ad"> <img src="/static/images/03.jpg"> </div>
    </div>
  </div>
  </div>
  <!-- container代码 结束 -->
  <div class="jzend"></div>
{% endblock %}
